.clothing-section__item-container {
  width: 200px;
  height: 200px;
  border: 3px solid grey;
  padding-bottom: 60px;
  position: relative;
  display: block;
}

.clothing-section__item-container:hover {
  border: 3px solid white;
}

.clothing-section__item-preview {
  width: 500px;
  height: 500px;
  border: 3px solid white;
}

.clothing-section__item-img {
  width: 200px;
  height: 200px;
  position: relative;
}

.bck-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.clothing-section__item-container:hover .bck-img {
  opacity: 1;
  cursor: pointer;
}

.clothing-section__colors-container {
  color: white;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.clothing-section__colors {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.clothing-section__color {
  border: 1px solid grey;
  border-radius: 25px;
  width: 25px;
  height: 10px;
}

.clothing-section__color:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

.clothing-section__small-imgs {
  height: 37px;
}

.small-img__one {
  width: 40px;
}
