.app {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
}

.app__canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* Fallback color */
  /* background: #0a0a0a; */
}
