.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.app__canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Keeps it behind everything */
  /* z-index: -1;  */
  background: #0a0a0a; /* Fallback color */
}
