.itemPreview {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: -140px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  border: 3px solid white;
}

.itemPreview__close {
  width: 50px;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 30;
}

.itemPreview__close:hover {
  cursor: pointer;
}

.itemPreview__container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: rgba(37, 37, 37, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 22;
  padding: 15px;
}

.itemPreview__img-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.itemPreview__img {
  width: 400px;
  height: 400px;
}

.itemPreview__side-imgs {
  display: flex;
  flex-direction: row;
}

.itemPreview__side-img {
  width: 100px;
  height: 100px;
}

.itemPreview__info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.itemPreview__info-title {
  font-size: 75px;
  color: white;
}

.itemPreview__info-txt {
  font-size: 50px;
  color: white;
}

.itemPreview__info-dividor {
  border-bottom: 1px solid white;
  flex-grow: 1;
  max-height: 10px;
}

.itemPreview__info-colors {
  display: flex;
  column-gap: 20px;
}

.itemPreview__color {
  width: 40px;
  height: 40px;
  border: 3px solid gray;
  border-radius: 25px;
}

.itemPreview__color:hover {
  border: 3px solid #ffffff;
}

.itemPreview__info-sizes {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.itemPreview__size {
  font-size: 30px;
  color: white;
  width: 40px;
  height: 40px;
  border: 3px solid gray;
  text-align: center;
  padding-top: 5px;
  list-style: none;
}

.itemPreview__size:hover {
  border: 3px solid #ffffff;
  cursor: pointer;
}
