body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Top: Firefox, Bottom: IE/Edge */
canvas + div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera */
canvas + div::-webkit-scrollbar {
  display: none;
}
