body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

#root {
  height: 100%;
}

/* Top: Firefox, Bottom: IE/Edge */
canvas + div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera */
canvas + div::-webkit-scrollbar {
  display: none;
}
